$black: #222;
$lightgray: #f6f6f6;
$gray: #999;
$white: #fff;
$color--error: #e85c41;
$color--success: #2cb994;

$color--background-lightbox: #fff;
$color--background-lightbox-dark: #1c1c21;
$color--background-lightbox-button: $black;
$color--background-lightbox-button-dark: #dfdfe2;